<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #ADE25D;">

  <!-- Links -->

  <ul class="navbar-nav">
    <li class="nav-item">
      <p class="nav-link" ><strong>Trent's Spirits Tracker</strong></p>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/spirits">Spirits</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/addspirit">Add a Spirit</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About This Project</a>
    </li>

  </ul>

</nav>

<div id="notification">
</div>

<router-outlet></router-outlet>